
    .sidebar-nav {

        height: 100%;

        margin-left: 100px;
        margin-top: 150px;
        list-style: none;
    }


    p1  {


        font-size: x-large;
    }


    p2  {

        font-size: larger;
    }

